#section-1 {
  display: flex;
  padding-left: 133px;
}

nav h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 73px;
  color: #1d1d1d;
}

.navitem a:hover {
  color: #1d1d1d;

  text-decoration: none;
}

.navitem a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: #1d1d1d;
  text-decoration: none;

  margin-right: 34px;
}

.navitem a.white-txt {
  color: white;
}

.navitem {
  margin-left: 168px;
}

.navmain {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin-left: 134px;
  margin-right: 134px;
  margin-top: 46px;
  margin-bottom: 129px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheading {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #401e09;
  width: 144px;
}
.heading {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 73px;
  color: #1d1d1d;
}

.subtitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;

  color: #1d1d1d;
  opacity: 0.7;
}

.subtitle-bold {
  opacity: 1;
}

.hero-image {
  width: 782px;
  height: 1258px;

  border-radius: 0px 0px 500px 500px;

  margin-top: -568px;
  margin-right: -81px;
  position: relative;
  z-index: -1;
}

.section-1-text-container {
  margin-right: 92px;
}

.shopnow-btn {
  padding: 23px 66px;
  background-color: white;

  border: 3px solid #401e09;
  border-radius: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 170%;
  margin-top: 85px;

  color: #401e09;
  text-transform: uppercase;
}

/* batas css amin */

#section-2 {
  display: flex;
  margin-top: 120px;
  padding-left: 100px;
}

#s2Img1 {
  height: 610px;
  width: 430px;
  object-fit: cover;
  border-radius: 500px 500px 20px 20px;
}

#s2Img2 {
  height: 163px;
  width: 163px;
  object-fit: cover;
  position: relative;
  top: 297px;
  left: -84px;
}

.text1 {
  margin-top: 0;
  margin-bottom: 0;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;

  color: #401e09;
}

.text2 {
  margin-top: 16px;
  margin-bottom: 0;
  width: 532px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;

  line-height: 78.4px;

  color: #1d1d1d;
}

.text3 {
  margin-top: 32;
  margin-bottom: 0;
  width: 532px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;

  color: #1d1d1d;
  opacity: 0.7;
}

#section-3 {
  display: flex;
  margin-top: 226px;
  padding-left: 100px;
}

#s3Img1 {
  height: 610px;
  width: 430px;
  object-fit: cover;
  border-radius: 500px 500px 20px 20px;
}

#s3Img2 {
  height: 163px;
  width: 163px;
  object-fit: cover;
  position: relative;
  top: 350px;
  right: -67px;
}

#features {
  display: flex;
  justify-content: space-around;
  margin: 120px 160px 120px 160px;
}

.f-text1 {
  margin: 0;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */

  color: #1d1d1d;
}

.f-text2 {
  margin: 0;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;

  /* or 20px */

  color: rgba(29, 29, 29, 0.6);

  opacity: 0.7;
}

.f-container {
  width: 305px;
  display: flex;
}

.f-image {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
/* batas css amin */
